{% extends 'base.html' %}

{% block title %}
<title>Scrumptious: Page not found</title>
{% endblock title %}
{% block content %}
<main>
    <h1>It looks like you took a wrong turn...</h1>
    <p>Were you trying to visit{{request_path}} ?</p>
    <p>It looks like you got the following exception: {{exception}}</p>
</main>
{% endblock content %}